{
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "rules": {
    "import/no-unresolved": 0,
    "import/no-unassigned-import": 0,
    "semi": ["error", "always"],
    "no-console": "off",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "always",
        "asyncArrow": "always"
      }
    ],
    "comma-dangle": ["error", "always-multiline"],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 1,
        "multiline": {
          "max": 2,
          "allowFirstLine": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.spec.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
